*{padding: 0;margin: 0;list-style: none;}

header.mui-bar{background: #3da9fe;}

header .mui-title,header a{color:#fff;}

header a:focus,header a:hover{color:#fff!important;text-decoration: none!important;}

.mui-content,.mui-scroll-wrapper{background-color: #fff;}

.mui-off-canvas-wrap .mui-inner-wrap{height: 100%!important;}

.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	background-color: #fff;
	width: 33.333%;   
	margin: 0;
    padding: 11px 5px;
    vertical-align: top;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    }
.mui-table-view.mui-grid-view{
	padding: 0 0 15px 0;
	}

.title{    
	height: 45px;
    padding-left: 15px;
    background: #3DA9FE;
    line-height: 45px;
    }
body{
	font-size: 16px;
	font-family: "微软雅黑";
	
	}
h4{
	font-size: 16px;
	font-weight: 200;
	}
.mui-table-view-cell{
	padding: 15px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #007aff;
    border-bottom: 2px solid #007aff;
    background: 0 0;
    }
    
.item1-table th {position: relative;}
.item1-table td,.item1-table th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 10px 20px!important;
	text-align: center!important;
}
/*下拉刷新样式-----start*/
.mui-pull-bottom-pocket {
	height: 120px;
}

.mui-pull {
	bottom: 0;
	top: 10px;
}

/*搜索框样式-----start*/
			
	.mui-search {
		background: #eee;
	}
	
	input[type=search] {
		background-color: #fff;
		margin-top: 10px;
		border: 1px solid #ccc;
	}
	
	.mui-search .mui-placeholder {
		line-height: 50px;
	}
	
	.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
		height: auto;
		z-index: 1000;
	}
	
	.mui-input-row.mui-search .mui-icon-clear {
		top: 15px;
	}
	
	.mui-search.mui-active:before {
		top：58%!important;
		margin-top: -14px;
	}
	/*搜索框样式-----end*/
	
	.item1-table tr {
		border-bottom: 1px solid #ccc;
	}
	
	.mui-popover-arrow {
		display: none;
	}
	
	.mui-popover {
		height: 160px;
		top: 40%!important;
		left: 50%!important;
		margin-left: -140px;
	}
	
	.Popover-li {
		line-height: 45px;
		list-style: none;
		border-bottom: 1px solid #ddd;
		margin: 0 10px;
	}
	
	.Popover-li a {
		width: 100%;
		height: 100%;
		display: inline-block;
	}
	/*弹出框样式*/
			
			
/*表格排序样式*//*tablesort specific styling*/
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }
#item1-table tbody{background: #fff;}
.item1-table thead tr{background: #ddd!important;}table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  position: absolute;
  right:5px
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }
  
  /*日期范围选择器*/
 .data_select,.date_picker{
 	display: inline-block;
 	width: 32%;
 	padding: 5px;
 	margin:5px 0;
 	border:1px solid #ccc!important;
 } 
.date_picker{
	width: 100%;
	height: 33px!important;
	margin-bottom: 10px!important;
}
/*上拉加载框*/
.mui-pull-bottom-pocket{
	height: 120px;
	
}
/*数据中心--汇总按钮*/
.table_fixed {
	width: 100%;
}
.table_fixed tr{
	border: none;
}

.table_fixed td {
	width: 50%;
	line-height: 12px;
	text-align: center;
	padding: 10px 0!important;
	border: none;
}
.table_fixed i{
	font-style: normal;
	}

.btn_fixed {
	position: absolute;
	top: -25px;
	left: 50%;
	width: 100px;
	height: 30px;
	margin-left: -50px;
	background: #3DA9FE;
	border-radius: 20px;
	font-size: 16px;
	color:#fff;
	padding: 0;	
}
/*数据中心——滑动导航*/
.range_nav{
	position:absolute;
	top:44px;
	left:0;
	z-index: 9;
	height: 41px!important;
	border-bottom: 1px solid #ccc!important;
}
/*图表区域*/
.mui-echarts {
	height: 200px;
	width: 100%;
	margin-bottom:10px;
}
.mui-segmented-control .mui-control-item.mui-active {
	background: #00D3FF;
}
.mui-echarts div{background: #fff;}
/*#segmentedControl a{line-height: 30px;}*/
.segmented a{
	line-height: 30px!important;
	}
#segmentedControl2 .mui-control-item,#segmentedControl3 .mui-control-item {
	display: inline-block;
	width: 50%;
	color: #000;
	border: 1px solid #ccc;
	border-left: none;
	border-top: none;
	overflow: initial;
	padding: 0 10px;
	line-height: 30px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #007aff;
	border-bottom: 2px solid #007aff;
	background: 0 0;
}
.red_font {
	color: red;
	font-size: 14px;
	text-align: right;
}

.green_font {
	color: green;
	font-size: 14px;
	text-align: right;
}
/*标题--输入框模板样式*/
.mui-input-row label {
	width: 30%;
	text-align: center;
	padding-right: 0;
	padding-left: 0;
}
.mui-scroll-wrapper{background: #fff;}

.mui-input-group .mui-input-row {
	margin: 15px;
}

.mui-content,
.mui-input-group {
	background: #eee;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~button {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 5px;
	width: 70%;
}

.mui-input-group:before,
.mui-input-group .mui-input-row:after,
.mui-input-group:after {
	background-color: #eee;
}

.mui-checkbox input[type=checkbox] {
	top: 0;
	left: 35%;
}

.mui-input-row label~textarea {
	height: 200px;
	width: 74%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding-left: 10px;
}

.item3-title {
	height: 40px;
	width: 100%;
	background: #ccc;
	line-height: 40px;
	padding: 0 10px;
}

.item3-label {
	height: auto;
	display: inline-block;
	line-height: 35px;
	width: 33%;
	padding: 0 10px;
	font-size: 15px;
}

.item3-label input {
	margin-right: 10px;
}
#sliderSegmentedControl{height: auto;}
.phone_bg {
				height: 100%;
				width: 100%;
				background: rgba(0, 0, 0, 0.2);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 9999;
			}
			
			.info_ct {
				width: 300px;
				height: 400px;
				background: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				top: 50%;
				left: 50%;
				overflow: hidden;
				margin-left: -150px;
				margin-top: -200px;
				padding: 30px 10px 10px;
				border: 1px solid #9E9E9E;
				border-radius: 10px;
				box-shadow: 0 1px 15px #666;
			}
			
			.info_ct a {
				color: #000;
				display: block;
				line-height: 50px;
				padding-left: 15px;
				background: #D4F1FF;
				border-radius: 30px;
				margin-bottom: 10px;
			}
			
			.info_ct a:active {
				background: #3BB8F5;
			}
			
			.btn_close {
				position: absolute;
				top: 3px;
				right: 0;
				z-index: 9;
				color: #308BD4;
				width: 40px;
				height: 30px;
				text-align: center;
			}
			
			.info_btn {
				position: fixed!important;
				top: 0;
				right: 45px;
				color: #fff;
				z-index: 10;
			}
			.info_ul li{
				background: #D4F1FF;
				padding: 5px;
				margin: 5px 0;
			}
			.info_ul li p{color:#333;}
			.info_ul li strong{font-size: 15px;}		






















