<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>操作汇总</title>
		<script src="_Mobile_/js/mui.min.js"></script>
		<link href="_Mobile_/css/mui.min.css" rel="stylesheet" />
		<link href="_Mobile_/css/bootstrap.min.css" rel="stylesheet" />
		<link href="_Mobile_/css/daterangepicker.css" rel="stylesheet" />
		<link href="_Mobile_/css/public.css" rel="stylesheet" />
		<link href="_Mobile_/css/iconfont.css" rel="stylesheet" />
		

	</head>

	<body class='mui-fullscreen'>

		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--左侧滑菜单部分-->
			<include file="Public:nav"/>
			<!--主界面部分-->
			<div class="mui-inner-wrap">

				<header class="mui-bar mui-bar-nav" style="background: #3DA9FE;box-shadow: 0 1px 9px #999;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" href="{:U('Admin/index')}"></a>
					<h1 class="mui-title">操作汇总</h1>
					<a href="#offCanvasSide-right" class="mui-icon iconfont icon-zhilupai mui-pull-right"></a>
				</header>

				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll" style="position: absolute;top:44px;left:0;"><!--top:85px;-->
						<!--搜索区域-->
						<form action="" style="background: #eee;padding:0 5px;margin: 10px 0;" method="post" id="form1">
						    <label style="width: 25%;font-weight: normal;text-align: center;">操作日期：</label>
						    <input style="width: 70%;" class="date_picker" name="date_picker" type="text" id="date_picker" style="margin-bottom: 0px!important;text-align: left;font-size: 16px;"/>
							<input type="hidden" name="id" id="uid" value="{$id}" />
						</form>
						<!--数据区域-->
						<div class="mui-slider" style='z-index: 90;'>
							<div id="sliderSegmentedControl" style='overflow-y:scroll;' class="mui-content mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">

								<table class='item1-table' id="item1-table" style="white-space: nowrap;width: 100%;">
									<thead>
									<tr style='background: #ddd;height: 40px;border:1px solid #ccc;z-index: 99;' class='mui-slider-handle'>
										<th>操作类型</th>
										<th>操作游戏币 </th>
										<th>操作玩家ID </th>
										<th>操作时间</th>
									</thead>
									<tbody>
										
									</tbody>
								</table>

							</div>
						</div>
							
						</div>
						<!--<div style="width: 100%;height: 60px;"></div>-->
					</div>
					<div style='position:fixed;bottom:-60px;left:0;width: 100%;background: #fbfbfb;z-index: 99;border-top:2px solid #3DA9FE;' id="total_box">
						<table class='table_fixed'>

							<tr>
								<td><span>加币：</span><i id="totaladdmoney"></i></td>
								<td><span>加币次数：</span><i id="totaladdnum"></i></td>
							</tr>
							<tr>
								<td><span>减币：</span><i id="totalreducemoney"></i></td>
								<td><span>减币次数：</span><i id="totalreducenum"></i></td>
							</tr>
						</table>
						<button class="btn_fixed" class="mui-btn mui-btn-blue" id="btn_total"><span class="mui-icon mui-icon-arrowup" style="font-size:18px;padding-right:5px;"></span>汇总</button>
					</div>
					<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
				</div>
				
			</div>

			<!--页面主体-----end-->
		</div>
		</div>
	</body>
	<script src="_Mobile_/js/echarts-all.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#date_picker').daterangepicker({startDate:"{$starttime}",endDate:"{$endtime}"});
		})
		//表格排序
		new Tablesort(document.getElementById('item1-table'));
		mui.init({
			pullRefresh: {
				container: '#pullrefresh',
				up: {
					contentrefresh: '正在加载...',
					contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
					callback: pullupRefresh
				},
				down:{
					callback:function(){
						window.location.reload();
					}
				}
			}
		});
		/**
		 * 上拉加载具体业务实现
		 */
			$('.applyBtn').live("click",function(){
				$("#form1").submit();
			});
			
			function pullupRefresh() {
				var date_picker=$('#date_picker').val();
				var adminid=$('#uid').val();
				$.post("{:U('get_admin_money_data')}", {id:adminid,date_picker:date_picker},function(list){
					console.log(list)
					if(list.total.totaladdmoney==''){list.total.totaladdmoney=0};
					if(list.total.totalreducemoney==''){list.total.totalreducemoney=0};
					$('#totaladdmoney').text(list.total.totaladdmoney);
					$('#totaladdnum').text(list.total.totaladdnum);
					$('#totalreducemoney').text(list.total.totalreducemoney);
					$('#totalreducenum').text(list.total.totalreducenum);
					var data=list.data;
					if(data){
						for (var i = 0; i<data.length; i++) {
							if(data[i]['type']==1){var type="加币";}else{var type="减币";}
							var str='<tr style="height: auto;border:1px solid #ccc">'+
								'<td>' + type + '</td>' +
								'<td>' +  data[i]['money']  + '</td>'+
								'<td>' + data[i]['id'] +'</td>'+
								'<td>' +  data[i]['time']  + '</td></tr>'
							//下拉刷新，新纪录插到最后面；
							//table.appendChild(s)
							$('.item1-table').append(str);
						}
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
				}, "json");
			}
		//预加载
		if (mui.os.plus) {
			mui.plusReady(function() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				}, 1000);
			});
		} else {
			mui.ready(function() {
				mui('#pullrefresh').pullRefresh().pullupLoading();
			});
		}
//		mui.init();
		//主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasSideScroll-left').scroll();
		mui('#offCanvasSideScroll-right').scroll();
		mui('#pullrefresh').scroll();
		
		//	汇总数据隐藏/显示开关
		var bihe=true;
		$('#btn_total').live('tap',function(){
			if(bihe==true){
				$('#total_box').animate({'bottom':0},500)
				$('#btn_total span').removeClass().addClass('mui-icon mui-icon-arrowdown')
				bihe=false;
			}else{
				$('#total_box').animate({'bottom':-60},500)
				$('#btn_total span').removeClass().addClass('mui-icon mui-icon-arrowup')
				bihe=true;
			};
		})
	</script>

</html>