<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>添加/编辑管理员</title>
		<script src="/static/Mobile/js/mui.min.js"></script>
		<link href="/static/Mobile/css/mui.min.css" rel="stylesheet" />
		<link href="/static/Mobile/css/public.css" rel="stylesheet" />
		<link href="/static/Mobile/css/iconfont.css" rel="stylesheet" />
		<style type="text/css">
			
		</style>
	</head>

	<body>
		<!--侧滑菜单容器-->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			{% include 'Public_nav.html' %}

			<!--主界面部分-->
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" href="{{ url_for('index.index') }}"></a>
					<a href="#offCanvasSide-right" class="mui-icon iconfont icon-zhilupai mui-pull-right"></a>
					<h1 class="mui-title">添加/编辑管理员</h1>
				</header>

				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<form class="mui-input-group" id="form1" action="__URL__/insert" method="post">
							<div class="mui-input-row">
								<label>管理员：</label>
								<input type="text" placeholder="请输入用户名" value="{$info.UserName}" name="UserName" class='mui-input-clear' id='account' />
							</div>

							<div class="mui-input-row">
								<label>密码：</label>
								<input type="password" class="mui-input-clear" name="UserPwd" id="pwd" placeholder="请输入您的密码">
							</div>

							<div class="mui-input-row">
								<label>确认密码：</label>
								<input type="password" class="mui-input-clear" name="reUserPwd" id="rpwd" placeholder="请确认您的密码">
							</div>

							<div class="mui-input-row">
								<label>真实姓名：</label>
								<input type="text" class="mui-input-clear" value="{$info.Name}" name="Name" placeholder="请输入您的真实姓名" id="realname">
							</div>

							<div class="mui-input-row">
								<label>手机号：</label>
								<input type="number" class="mui-input-clear" value="{$info.Phone}" name="Phone" placeholder="请输入您的手机号" id="mobile">
							</div>
							<eq name="admin_info.UserName" value="admin">
								<div class="mui-input-row mui-checkbox" style="height: 45px">
									<label>仅分配普通订单权限：</label>
									<input type="checkbox" name="IsAllOrder" value="1" <eq name="info.IsAllOrder" value="1">checked="checked"</eq>>
								</div>
							</eq>
							<div class="mui-input-row mui-checkbox" style="height: 45px">
								<label>是否激活：</label>
								<input type="checkbox" name="IsEnable" value="1" <eq name="info.IsEnable" value="1">checked="checked"</eq>>
							</div>
							<eq name="admin_info.IsSystem" value="1">
								<div class="mui-input-row mui-checkbox" style="height: 45px">
									<label style="width: 36%;">超级管理员：</label>
									<input style="width: 64%;"  type="checkbox" id="sys" name="IsSystem" value="1" <eq name="info.IsSystem" value="1">checked="checked"</eq>>
							</div>
							</eq>
							<div class="mui-input-row role_div">
								<label>代理：</label>
				           		 <select class="data_select" name="AgentID" id="agentid">
						        	<volist name="agent_list" id="AgentName">
						        		<option value="{$key}"
											<eq name="info.AgentID" value="$key">selected="selected"</eq>
										>
										{$AgentName}
										</option>
						        	</volist>
							    </select>
							</div>
							
							<div class="mui-input-row role_div">
								<label>角色选择：</label>
								<select name="RoleID" id="roid">
									<option value="0">初始自定义角色</option>
									<volist name="role_list" id="v">
										<option value="{$v.RoleID}" <eq name="info.RoleID" value="$v.RoleID">selected="selected"</eq>>{$v.RoleName}</option>
									</volist>
				            </select>
							
							</div>
							<gt name='id' value='0'>
								<a href="{:U('Partner/apk',array('id'=>$info[PartnerID]))}" style="padding-left: 20px;" id="apk_btn">APK推广</a>
							</gt>
							<input type="hidden" name="pid" id="pid" value="{$info.partnerID}" />
							<input type="hidden" name="id" id="uid" value="{$id}" />
							<button type="button" id="sub" class="mui-btn mui-btn-blue" style='width: 100%;margin-top: 20px ;padding: 5px;font-size: 18px;'>确 &nbsp;认</button>
						</form>
						
					</div>

					
				</div>
				<!-- off-canvas backdrop -->
					<div class="mui-off-canvas-backdrop"></div>
			</div>
	</body>

	<script type="text/javascript" charset="UTF-8">
		mui.init({
			pullRefresh: {
				container: '#pullrefresh',
				down:{
					callback:function(){
						window.location.reload();
					}
				}
			}
		});
		//主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasSideScroll-left').scroll();
		mui('#offCanvasSideScroll-right').scroll();
		mui('#pullrefresh').scroll();
		$(function() {
			$('#agentid').change(function(){
				var value=$('#agentid').val();
				var pid=$('#pid').val();
				if(value==0){
					$('#apk_btn').attr('href','__APP__/Partner/apk/id/'+pid);
				}else{
					$('#apk_btn').attr('href',"__APP__/Agent/apk/id/"+value);
				}
			});
			
			$('#sub').click(function() {
				var account = $('#account').val();
				var realname = $('#realname').val();
				var mobile = $('#mobile').val();
				var id=$('#uid').val();
				if(id<1){
					if($('#pwd').val().length<6){
						$('#pwd').css('border', '1px solid red');
						alert('请输入6位数以上的密码');
						return false;
					}else{
						$('#pwd').css('border', '1px solid #ccc');
					}
					if($('#pwd').val() != $('#rpwd').val()){
						$('#rpwd').css('border', '1px solid red');
						alert('确认密码与您输入的密码不符');
						return false;
					}else{
						$('#rpwd').css('border', '1px solid #ccc');
					}
					
				}
				if (account.length < 4) {
					$('#account').css('border', '1px solid red');
					alert('请输入正确的管理员名称(4个字符以上)');
					return false;
				} else {
					$('#account').css('border', '1px solid #ccc');
				}
//				if (realname.length <4) {
//					$('#realname').css('border', '1px solid red');
//					return false;
//				} else {
//					$('#realname').css('border', '1px solid #ccc');
//				}
				if (mobile!=''&&!/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/i.test(mobile) ||mobile!=''&& mobile.length != 11) {
					$('#mobile').css('border', '1px solid red');
					alert('请输入正确的手机号码');
					return false;
				} else {
					$('#mobile').css('border', '1px solid #ccc');
				}
				$('#form1').submit();
			});
			if($('#sys').is(':checked')){
				$('#roid').attr('disabled',true);
				$('#partner').attr('disabled',true);
				$('#agent').attr('disabled',true);
				$('.role_div').hide();
			}else{
				$('#roid').attr('disabled',false);
				$('#partner').attr('disabled',false);
				$('#agent').attr('disabled',false);
				$('.role_div').show();
			}
			$('#sys').click(function(){
				if($(this).is(':checked')){
					$('#roid').attr('disabled',true);
					$('#partner').attr('disabled',true);
					$('#agent').attr('disabled',true);
					$('.role_div').hide();
				}else{
					$('#roid').attr('disabled',false);
					$('#partner').attr('disabled',false);
					$('#agent').attr('disabled',false);
					$('.role_div').show();
				}
			});
/*
			$('#partner').change(function(){
				var pid=$(this).val();
				$.post("{:U('all_agent')}", { pid: pid}, function(data){
					var str='<option value="0">下级全部代理</option>';
					if(data){
						for(i=0;i<data.length;i++){
							str+='<option value="'+data[i]['AgentID']+'">'+data[i]['AgentName']+'</option>';
						}	
					}
					$('#agent').html(str);
				});
			});
			var pid=parseInt($('#partner').val());
			if(pid>0)
				$.post("{:U('all_agent')}", { pid: pid}, function(data){
					var str='<option value="0">下级全部代理</option>';
					if(data){
						for(i=0;i<data.length;i++){
							str+='<option value="'+data[i]['AgentID']+'">'+data[i]['AgentName']+'</option>';
						}	
					}
					$('#agent').html(str);
				});*/
		})
	</script>

</html>