<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>后台管理系统</title>
		<script src="_Mobile_/js/mui.min.js"></script>
		<link href="_Mobile_/css/mui.min.css" rel="stylesheet" />
		<link href="_Mobile_/css/public.css" rel="stylesheet" />
		<link href="_Mobile_/css/iconfont.css" rel="stylesheet" />

	</head>

	<body>
		<!--侧滑菜单容器-->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<include file="Public:nav_agent"/>

			<!--主界面部分-->
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a href="{:U('index')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<a href="#offCanvasSide-right" class="mui-icon iconfont icon-zhilupai mui-pull-right"></a>
					<h1 class="mui-title">用户信息</h1>
				</header>

				<div id='offCanvasContentScroll' class="mui-content" style='height: 100%;'>
					<form class="mui-input-group" method="post" id="form1" action="__URL__/add_agent">
						<!--
						<div class="mui-input-row  ">
							<label>平台：</label>
							<select name="PartnerID" id="partner"  <eq name="edit_false" value="1">disabled="disabled"</eq>>
							    <volist name="partner_list" id="v">
				            		<option value="{$v.PartnerID}" <eq name="info.PartnerID" value="$v.PartnerID">selected="selected"</eq>>{$v.PartnerName}</option>
								</volist>				            	
				            </select>
						</div>-->
						<div class="mui-input-row">
							<label>代理名称：</label>
							<input type="text" class="mui-input-clear" name="AgentName" value="{$info.AgentName}"  <eq name="edit_false" value="1">disabled="disabled"</eq>>
						</div>
						<div class="mui-input-row ">
							<label>是否激活：</label>
							<input type="checkbox" name="IsEnable" value="1" <eq name="info.IsEnable" value="1">checked="checked"</eq>  <eq name="edit_false" value="1">disabled="disabled"</eq> style="width: 18px;height:18px;float: left;margin-top:10px;">
						</div>
					 
						<div class="mui-input-row ">
							<label>独立代理包：</label>
							<input type="checkbox" id="isalone" name="IsAlone" value="1" <eq name="info.IsAlone" value="1">checked="checked"</eq>  <gt name="id" value="0">disabled="disabled"</gt> style="width: 18px;height:18px;float: left;margin-top:10px;" />
						</div>
						
						<div class="mui-input-row  ">
							<label>代理等级：</label>
							<select name="Level" id="level"  <eq name="edit_false" value="1">disabled="disabled"</eq>>
				            	<option value="1" <eq name="info.Level" value="1">selected="selected"</eq>>一级代理</option>
				            	<option value="2" <eq name="info.Level" value="2">selected="selected"</eq>>二级代理</option>
				            </select>
						</div>
						
						<div class="mui-input-row ptr">
							<label>上级代理：</label>
							<select name="ParentID" id="pid"  <eq name="edit_false" value="1">disabled="disabled"</eq>>
								<volist name="agent_list" id="v">
								<option value="{$v.AgentID}" <eq name="v.AgentID" value="$info.ParentID">selected="selected"</eq>>{$v.AgentName}</option>
								</volist>
				            </select>
						</div>

						<div class="mui-input-row">
							<label style="width: 35%;">服务费比例：</label>
							<input style="width: 30%;float:left" type="number" name="ServiceFee" class="mui-input-clear" value="{$info.ServiceFee}"  <eq name="edit_false" value="1">disabled="disabled"</eq>>
							<label style="width: 30%;text-align:left">&nbsp;%</label>
						</div>

						<div class="mui-input-row">
							<label>结算下限：</label>
							<input type="number" class="mui-input-clear" name="MinPay" value="{$info.MinPay}" <eq name="edit_false" value="1">disabled="disabled"</eq>/>	
						</div>
						<div class="mui-input-row code_div">
							<label>推荐码：</label>
							<gt name="id" value="0">
							<label>{$info.InviteCode}</label>
							<else/>
							<input type="tel" class="mui-input-clear" placeholder="请输入6位数的推荐码" maxlength="6" name="InviteCode" id="InviteCode" value="{$info.InviteCode}" 
							onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
							<eq name="edit_false" value="1">disabled="disabled"</eq>/>	
							</gt>
						</div>
						<gt name="id" value="0">
						<div class="mui-input-row">
							<label style="width: 35%;">当前加币限额：</label>
							<label style="width: 60%;text-align: left;padding-left:10px;" id="gamebi">{$gamebi}</label>
						</div>	
						</gt>
						<eq name="admin_info.IsSystem" value="1">
						<div class="mui-input-row">
							<label>操作类型：</label>
							<select name="type" id="type">
								<option value="1">增加</option>
								<gt name="id" value="0"><option value="2">减少</option></gt>
							</select>
						</div>							
						<div class="mui-input-row">
							<label>加币限额：</label>
							<input type="number" class="mui-input-clear" name="gamebi" value="" id="typenum"/>	
						</div>	
						</eq>	
						
						<div style="width: 100%;height: 60px;"></div>
						<input type="hidden" name="id" value="{$id}" id="agentid"/>
						
					</form>
					<neq name="edit_false" value="1">
					<div style='height: 50px;text-align: center;border:1px solid #eee;padding: 5px;position:fixed;bottom:0;left:0;width: 100%;background: #fff;z-index: 99;'>
						<button type="button" class="mui-btn mui-btn-blue" id="but" style="font-size: 16px;width: 200px;">确&nbsp;&nbsp;&nbsp;&nbsp;认</button>
					</div>
					</neq>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>

			</div>
	</body>

	<script type="text/javascript" charset="UTF-8">
		mui.init({
			pullRefresh: {
				container: '#offCanvasContentScroll',
				down:{
					callback:function(){
						window.location.reload();
					}
				}
			}
		});
		//主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasSideScroll-left').scroll();
		mui('#offCanvasSideScroll-right').scroll();
		mui('#offCanvasContentScroll').scroll();
		mui('#pullrefresh').scroll();
		$(function(){
			$('#isalone').change(function(){
				var flag=$(this).attr('checked');
				if(flag=='checked'){
					$('.code_div').hide();
				}else{
					$('.code_div').show();
				}
			});
			var ck_flag=$('#isalone').attr('checked');
			if(ck_flag=='checked'){
				$('.code_div').hide();
			}else{
				$('.code_div').show();
			}
			var level=$('#level').val();
			if(level==1){
				$('.ptr').hide();
			}else{
				$('.ptr').show();
			}
			
			$('#level').click(function(){
				var level=parseInt($(this).val());
				if(level==1){
					$('.ptr').hide();
				}else{
					$('.ptr').show();
				}	
			});
			//查询已有的推荐码，保存在codeArray数组里；
			var codeArray=[];
			$.post("{:U('Agent/get_invite_code_list')}", function(list){
				var list=JSON.parse(list);
				var data=list.data;
				if(data){
					for(var i=0;i<data.length;i++){
						codeArray.push(data[i]["invitecode"]);
					}
				}
			});
			//扩展Array 判断指定值是否存在数组中
			Array.prototype.Exists=function(v){
				var b=false;
				for(var i=0;i<this.length;i++){
					if(this[i]==v){
						b=true;break;
					}
				}
				return b;
			}
			
			//if表示编辑代理时，else表示添加代理时
			var agentid=$("#agentid").val();
			if(agentid>0){
				$('#InviteCode').attr('disabled','disabled');
				$('#but').click(function(){
					var InviteCode='';
					var level=parseInt($('#level').val());
					var pid=$('#pid').val();
					var InviteCode=$('#InviteCode').val();
					var ag=form1.AgentName.value;
					var typenum=$('#typenum').val();
					var typeval=$('#type').val();
					if(ag.length<1){
						alert('代理商名称不能为空！');
						return false;
					}
					var gamebi=$('#gamebi').text();
					if(gamebi!==''){
						if(typeval==2&&typenum>gamebi){
							alert('减币数量不能大于加币限额，请重新输入');
							return false;
						}	
					}
					
					if(level==2){
						if(pid==0){
							alert('请选择上级代理');
							return false;
						}
					}
					
					$('#form1').submit();
					
					$.post("{:U('Agent/edit_invite_code')}",{InviteCode:InviteCode,agentid:agentid},function(data){});
					
				})
			//添加代理时；	
			}else{
				//随机产生一个6为数的推荐码（首位不为0），
				var InviteCode=$('#InviteCode').val();
				if(InviteCode==''){
					var randomCode = (Math.floor(Math.random()*10000) % 6+1).toString();
					for(var i=0;i<5; i++){
						randomCode += (Math.floor(Math.random()*10000) % 10).toString();
					}
					if(codeArray.Exists(randomCode)==false){
						$('#InviteCode').val(randomCode);
					}else{
						location.reload();
					}
					
				}
					//
				$('#but').click(function(){
					var InviteCode='';
					var level=parseInt($('#level').val());
					var pid=$('#pid').val();
					var InviteCode=$('#InviteCode').val();
					
					var ag=form1.AgentName.value;
					if(ag.length<1){
						alert('代理商名称不能为空！');
						return false;
					}
					if(level==2){
						if(pid==0){
							alert('请选择上级代理');
							return false;
						}
					}
					if(InviteCode.length<6){
						alert('请输入6位数的推荐码');
						return false;
					}
					if(codeArray.Exists(InviteCode)){
						alert('该推荐码已被使用，请重新输入');
						return false;
					}
					$('#form1').submit();
					
				})
			}
			
		})
	</script>

</html>