<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{$info.Title|default=$partner}</title>
    <link href="_Mobile_/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="_Mobile_/css/new_css.css" rel="stylesheet" type="text/css" />
    <link href="_Mobile_/css/l.css" rel="stylesheet" type="text/css" />
    <link href="_Mobile_/css/wechatcss.css" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="_Mobile_/js/jquery.js"></script>
    <script type="text/javascript" src="_Mobile_/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="_Mobile_/js/wechat.js"></script>
    <meta name="keywords" />
    <meta name="description" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css">
    	#tcdialong{display: none;}
    </style>
</head>
<body>
    <div id="content" class="main fontSize2">
        <!--头部-->
        <div class="top">
            <img src="{$info.TopBanner|default='_Mobile_/images/a_10.jpg'}" width="100%" />
            <div class="tubiao">
                <div class="gamecover fl">
                    <img src="{$info.Logo|default='_Mobile_/images/a_11.jpg'}" width="100%" />
                </div>
                <div class="gamedes fl">
                    <p class="l-font">
                        {$info.Title|default=$partner}</p>
                    <p class="m-font" style="line-height: 14px;">
                        </p>
                </div>
            </div>
        </div>
        <!--描述-->
        <div class="shuoming">
            <div class="shuoming_01">
                <ul>
                    <li>
                        <img src="_Mobile_/images/agent/jk_04.png" /><p class="s-font">安卓下载{$info.AndroidNum|default=$partner}万+</p>
                    </li>
                    <li>
                        <img src="_Mobile_/images/agent/jk_06.png" /><p class="s-font">苹果下载{$info.IosNum|default=$partner}万+</p>
                    </li>
                    <li>
                        <img src="_Mobile_/images/agent/jk_08.png" /><p class="s-font">ipad下载{$info.IpadNum|default=$partner}万+</p>
                    </li>
                </ul>
                <div style="clear: both;">
                </div>
            </div>
            <div class="game_jieshao">
                <p class="m-font">
                    游戏介绍</p>
            </div>
            <div class="game_tupian">
                <ul>
                    <li>
                        <img src="{$info.Game1|default='_Mobile_/images/agent/game/1.jpg'}" alt="游戏介绍" /></li>
                    <li>
                        <img src="{$info.Game2|default='_Mobile_/images/agent/game/2.jpg'}" alt="游戏介绍" /></li>
                    <li>
                        <img src="{$info.Game3|default='_Mobile_/images/agent/game/3.jpg'}" alt="游戏介绍" /></li>
                    <li>
                        <img src="{$info.Game4|default='_Mobile_/images/agent/game/4.jpg'}" alt="游戏介绍" /></li>
                    <li>
                        <img src="{$info.Game5|default='_Mobile_/images/agent/game/5.jpg'}" alt="游戏介绍" /></li>
                    <li>
                        <img src="{$info.Wechat|default='_Mobile_/images/agent/game/wechat.jpg'}" alt="二维码" /></li>
                </ul>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        <div class="xiazai az_download">
            <!--安卓下载地址-->
            <a href="{$info.AdDownUrl|default=$downlink}">
                <img src="_Mobile_/images/agent/xizai_18.png" width="100%" alt="安卓下载" /></a>
        </div>
        <div class="xiazai ios_download">            
            <!--IOS下载地址-->
            <a href="{$info.IosDownUrl|default='itms-services://?action=download-manifest&url=https://download.fuguileyuan.com/2d/test.plist'}">
                <img src="_Mobile_/images/agent/xizai_18.png" width="100%" alt="IOS下载" /></a>
        </div>
    </div>
</body>
</html>
