<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>新闻公告</title>
		<script src="_Mobile_/js/mui.min.js"></script>
		<link href="_Mobile_/css/mui.min.css" rel="stylesheet" />
		<link href="_Mobile_/css/public.css" rel="stylesheet" />
		<link href="_Mobile_/css/iconfont.css" rel="stylesheet" />
		<style type="text/css">
			
		</style>
	</head>

	<body>
		<!--侧滑菜单容器-->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<include file="Public:nav2" />

			<!--主界面部分-->
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" href="{:U('index')}"></a>
					<a href="#offCanvasSide-right" class="mui-icon iconfont icon-zhilupai mui-pull-right"></a>
					<h1 class="mui-title">新闻公告</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper" style="margin-top:10px;">
					<div class="mui-scroll">
							<div class="mui-input-row">
								<label style="width:100%;text-align:center">{$info.Title}</label>
							</div>

							<div class="mui-input-row" style="padding:20px;line-height:25px;">
							  {$info.Content}
							</div>
					</div>

					
				</div>
				<!-- off-canvas backdrop -->
					<div class="mui-off-canvas-backdrop"></div>
			</div>
	</body>

	<script type="text/javascript" charset="UTF-8">
		mui.init();
		//主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasSideScroll-left').scroll();
		mui('#offCanvasSideScroll-right').scroll();
		mui('#offCanvasContentScroll').scroll();
	</script>

</html>