<div class="mui-card" style='margin: 0;width: 100%;position: fixed;z-index: 5;margin-top: 44px;'>
    <ul class="mui-table-view mui-grid-view mui-grid-9" style='padding: 0;'>

        <li class="mui-table-view-cell mui-media mui-active user_status" style="width: 25%;float: left;background-color: #fff;color:#007AFF;border: 1px solid #007AFF;border-radius: 5px;">
            <a href="{:U('Manager/index')}">
                <span class="mui-icon mui-icon-eye"></span>
                <div class="mui-media-body" style="color:#007AFF;">游戏监控</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media online_game user_status" style="width: 25%;float: left;">
            <a href="{:U('Manager/frozen_list')}">
                <span class="mui-icon mui-icon-locked"></span>
                <div class="mui-media-body">冻结用户</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media user_status" style="width: 25%;float: left;">
            <a href="{:U('Manager/search')}">
                <span class="mui-icon mui-icon-search"></span>
                <div class="mui-media-body">用户搜索</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media user_status" style="width: 25%;float: left;">
            <a href="{:U('Manager/gm_list')}">
                <span class="mui-icon mui-icon-gear"></span>
                <div class="mui-media-body">G M</div>
            </a>
        </li>
    </ul>
</div>
<!--滑动导航栏-->
<!--<div style="padding: 2px 2px 0 2px;background: #fff;border-bottom: 1px solid #ccc;position:fixed;top:147px;left:0;z-index: 4;">-->
    <!--<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">-->
        <!--<a class="mui-control-item mui-active user_status" href="{:U('Manager/index')}">在线人数</a>-->
        <!--<a class="mui-control-item user_status" href="{:U('Manager/user')}">用户在线状态</a>-->
        <!--<a class="mui-control-item user_status" href="{:U('Manager/warning')}">在线预警</a>-->
    <!--</div>-->
<!--</div>-->
<script src="_Mobile_/js/jquery-1.8.3.min.js"></script>
<script src="_Mobile_/js/my_food_plan_pick_foods.js"></script>
<script src="_Mobile_/js/jquery.uitablefilter.js" type="text/javascript" charset="utf-8"></script>
<script src="_Mobile_/js/tablesort.min.js"></script>
<script src="_Mobile_/js/tablesort.number.js"></script>
<script src="_Mobile_/js/tablesort.date.js"></script>
<script src="_Mobile_/js/moment.js"></script>
<script src="_Mobile_/js/daterangepicker.js"></script>
<script>
    mui.init();
    $('.user_status').live('tap',function(){
        var link=this.getAttribute('href');
        top.Sys_Main.location.href=link;
    });
</script>