<!--左侧滑菜单部分-->
<style>
	/*删除图标<span class='mui-icon iconfont icon2'></span>*/
	.mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-table-view .mui-table-view-cell {
		font-size:16px;font-weight:800;text-align: center;padding-right:55px;font-family: 'SimHei','Microsoft Yahei','Microsoft JhengHei';
	}
	.mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-table-view .mui-table-view-cell a:hover{
		text-decoration: none;color:orangered; background-color:rgba(0,0,0,0.1);
	}
	.mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-table-view  .mui-table-view-cell .mui-table-view .mui-table-view-cell{
		font-size:15px;font-weight:400;text-align: center;padding:11px 50px 11px 0px;width:180px;font-family:'SimHei','Microsoft JhengHei','Microsoft Yahei';
	}
	.mui-off-canvas-right .mui-scroll-wrapper .mui-scroll .mui-table-view-chevron .mui-collapse{
		font-size:16px;font-weight: bolder;text-align: center;
	}
	/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
	::-webkit-scrollbar
	{
		width: 10px;  /*滚动条宽度*/
		height: 10px;  /*滚动条高度*/
	}

	/*定义滚动条轨道 内阴影+圆角*/
	::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
		border-radius: 2px;  /*滚动条的背景区域的圆角*/
		background-color: #F5F5F5 ;/*滚动条的背景颜色*/
	}

	/*定义滑块 内阴影+圆角*/
	::-webkit-scrollbar-thumb
	{
		border-radius: 2px;  /*滚动条的圆角*/
		-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
		background-color: 	#ADD8E6 ;  /*滚动条的背景颜色*/
	}
</style>
		<aside id="offCanvasSide-left" class="mui-off-canvas-left">
			<div id="offCanvasSideScroll-left" class="mui-scroll-wrapper" style="overflow:scroll;overflow-x:auto;">
				
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron">
						<eq name="nav_flag" value="1">
							<!--模板2此处是nav_flag传入为1 即非正常窗口弹窗时 循环导航栏 去除图标空间-->
							<foreach name="nav_flag_powers" item="power" >
								<eq name="power" value="Data/user_wealth">
									<li class="mui-table-view-cell "><a href="{:U($power,array('id'=>$id,'nav_flag'=>1))}" target="Sys_Main" class="ifram_btn">{$public_nav_flag[$power]}</a></li>
									<li class="mui-table-view-cell "><a href="{:U($power,array('id'=>$id,'type'=>1,'nav_flag'=>1))}" target="Sys_Main" class="ifram_btn">游戏结算</a></li>
									<li class="mui-table-view-cell "><a href="{:U($power,array('id'=>$id,'type'=>52,'nav_flag'=>1))}" target="Sys_Main" class="ifram_btn">加币记录</a></li>
								<else/>
									<eq name="power" value="User/luckstar">
										<li class="mui-table-view-cell"><a href="{:U($power,array('id'=>$id,'name'=>$nickname,'nav_flag'=>1))}" target="Sys_Main" class="ifram_btn">{$public_nav_flag[$power]}</a></li>
									<else/>
										<li class="mui-table-view-cell"><a href="{:U($power,array('id'=>$id,'nav_flag'=>1))}" target="Sys_Main" class="ifram_btn" >{$public_nav_flag[$power]}</a></li>
									</eq>
								</eq>
							</foreach>
						<else/>
						<!--此处是nav_flag传入为0 即正常窗口非弹窗时 循环导航栏  去除图标空间-->
							<li class="mui-table-view-cell menu_li" style="border-top:1px solid #ccc ;"><a href="__APP__" class="">首页</a></li>																													<!--<span class='mui-icon mui-icon-home-filled' style='padding: 0 15px 0 0;font-size: 34px;'></span>-->
							<li class="mui-table-view-cell"><a href="{:U('Admin/info',array('id'=>$admin_id))}" class="">管理员信息</a></li>																								<!--<span class='mui-icon mui-icon-contact' style='padding: 0 10px 0 0;font-size: 40px;'></span>-->
							<foreach name="menu_arr_list" item="vo" key="k">
								<li class='mui-table-view-cell mui-collapse <eq name="k" value="$nav_on">mui-active</eq>'>																														<!-- icon_li -->
									<!--主菜单-->
									<a href="#" class="mui-navigate-right " >{$k}</a>																																					<!-- <span class="span_icon mui-icon iconfont "></span> -->
									<!--子菜单-->
									<ul class="mui-table-view mui-table-view-chevron">
										<foreach name="vo" item="v" key="url">
											<li class="mui-table-view-cell menu_li"><a href="{:U($url,array('nav_on'=>$k))}">{$v}</a></li>
										</foreach>
									</ul>
								</li>
							</foreach>
							<li class="mui-table-view-cell menu_li"><a href="{:U('Admin/logout')}" >退出登录</a></li>																													<!--<span class="mui-icon iconfont icon-tuichu1"></span>-->
						</eq>
					</ul>
				</div>
			</div>
		</aside>
		<!--右侧滑菜单部分-->
		<aside id="offCanvasSide-right" class="mui-off-canvas-right">
			<div id="offCanvasSideScroll-right" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell mui-collapse"><a href="{:U('Index/index')}" >首页</a></li>																												<!--<span class='mui-icon mui-icon-home' style='padding: 0 15px 0 0;font-size: 30px;'></span>-->
						<foreach name="nav_list" item="name" key="url">
							<li class="mui-table-view-cell mui-collapse"><a href="{:U($url)}">{$name}</a></li>									<!--mui-icon mui-icon-plusempty-->
						</foreach>
						<li class="mui-table-view-cell mui-collapse" style='text-align: center;'><a href="{:U('Admin/nav')}"></a></li>																									<!--<span class='mui-icon mui-icon-plusempty' style="font-size: 48px;font-weight: bold;"></span>-->
					</ul>
				</div>
			</div>
		</aside>
			
			
<script src="/static/Mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/Mobile/js/my_food_plan_pick_foods.js"></script>
<script src="/static/Mobile/js/jquery.uitablefilter.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/Mobile/js/tablesort.min.js"></script>
<script src="/static/Mobile/js/tablesort.number.js"></script>
<script src="/static/Mobile/js/tablesort.date.js"></script>
<script src="/static/Mobile/js/moment.js"></script>
<script src="/static/Mobile/js/daterangepicker.js"></script>
<script>
 mui.init();
 $(function(){
 	if({$nav_flag}==1){
 		$('.ifram_btn').live('tap',function(){
			var link=this.getAttribute('href');
			location.href=link;//Sys_Main.location.href=link;
		});
		$('.log_btn1').live('tap',function(){
			top.Sys_Main.location.href="{:U('User/info',array('id'=>$id,'nav_flag'=>1))}";
		});
		$('.log_btn2').live('tap',function(){
			top.Sys_Main.location.href="{:U('User/log',array('id'=>$id,'nav_flag'=>1))}";
		});
		$('.log_btn3').live('tap',function(){
			top.Sys_Main.location.href="{:U('User/edit_log',array('id'=>$id,'nav_flag'=>1))}";
		});
		$('.log_btn4').live('tap',function(){
			top.Sys_Main.location.href="{:U('User/game_log',array('id'=>$id,'nav_flag'=>1))}";
		});
 	}else{
		var els=$("[href$='.html']");
		var bls=$("[href$='.php']");
		var als=$("[href$='.apk']");
		var pls=$("[href$='.plist']");
		for(var i=0;i<els.length;i++){
			els[i].addEventListener('tap',function(){
				openCustUR(this.getAttribute('href'));
			});
		}
		for(var i=0;i<bls.length;i++){
			bls[i].addEventListener('tap',function(){
				openCustUR(this.getAttribute('href'));
			});
		}
		for(var i=0;i<als.length;i++){
			als[i].addEventListener('tap',function(){
				openCustUR(this.getAttribute('href'));
			});
		}
		for(var i=0;i<pls.length;i++){
			pls[i].addEventListener('tap',function(){
				openCustUR(this.getAttribute('href'));
			});
		}
		mui.plusReady(function(){
			plus.nativeUI.closeWaiting();
			mui,currentWebview.show();
		});
 	}
})



function openCustUR(link){
	mui.openWindow({url:link,show:{
		autoShow:true,
		aniShow:'slide-in-right',
		duration:400
		},waiting:{autoShow:false,title:'加载中。。。'}});
} 
//日期范围选择器
$(function(){
	$('#date_picker').daterangepicker({startDate:"{$starttime}",endDate:"{$endtime}"});
})
//表格筛选
$(function() { 
  var theTable = $('#item1-table')

  $("#filter").keyup(function() {
    $.uiTableFilter( theTable, this.value );
  })
  
$('.icon_li').each(function(){
	var index=$(this).index();
	$(this).find('.span_icon').addClass('icon'+index);	
});

//var ifram_btn=document.getElementById('ifram_btn')
//ifram_btn.addEventListener('tap',function(){
//	alert('1')
//	var name=this.getAttribute('data-href'); 
//	top.self.location.href=name; 
//})


  $('#filter-form').submit(function(){
theTable.find("tbody > tr:visible").mousedown();
    return false;
  }).focus(); //Give focus to input field
  
  //当屏幕宽度大于765时，左边菜单栏固定
	if($(window).width()>765){
		$('.mui-off-canvas-left').css({"width":"180px","visibility":"visible"});
		$('.mui-off-canvas-right').remove();
		var rightW=$(window).width()-180
		$('.mui-inner-wrap').css('width',rightW);
		$('.mui-inner-wrap').css({'transform':'translate(180px)',"box-shadow":"-4px 0 4px rgba(0,0,0,.2), 4px 0 4px rgba(0,0,0,.5)"});
		$('.mui-off-canvas-backdrop').css({"display":"none"})
		//清除左右滑动事件
//		mui.init({
//			gestureConfig:{
//			   drag: false//默认为true
//			}
//		});
	}else{
		$('.mui-off-canvas-left').remove();
	}
});
</script>
			