<!--左侧滑菜单部分-->
<style>
    /*删除图标<span class='mui-icon iconfont icon-tuichu1'></span>*/
    .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-table-view .mui-table-view-cell {
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        padding-right: 55px;
        font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;;
    }
    .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-table-view .mui-table-view-cell a:hover {
        text-decoration: none;
        color: orangered;
        background-color: #ADD8E6;
    }

    .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-table-view .mui-table-view-cell .mui-table-view .mui-table-view-cell {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        padding: 11px 50px 11px 0px;
        width: 180px;
        font-family: 'SimHei', 'Microsoft JhengHei', 'Microsoft Yahei';
    }

    .mui-off-canvas-right .mui-scroll-wrapper .mui-scroll .mui-table-view-chevron .mui-collapse {
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
    }

    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    ::-webkit-scrollbar {
        width: 10px; /*滚动条宽度*/
        height: 10px; /*滚动条高度*/
    }

    /*定义滚动条轨道 内阴影+圆角*/
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        border-radius: 2px; /*滚动条的背景区域的圆角*/
        background-color: #F5F5F5; /*滚动条的背景颜色*/
    }

    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
        border-radius: 2px; /*滚动条的圆角*/
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #ADD8E6; /*滚动条的背景颜色*/
    }
</style>
<div class="mui-content">
    <aside id="offCanvasSide-left" class="mui-off-canvas-left">
        <div id="offCanvasSideScroll-left" class="mui-scroll-wrapper" style="overflow:scroll;overflow-x:auto;">
            <div class="mui-scroll">
                <ul class="mui-table-view mui-table-view-chevron">
                    <!--此处是nav_flag传入为0 即正常窗口非弹窗时 循环导航栏 去除图标空间-->
                    <li class="mui-table-view-cell menu_li "><a href="">首页</a></li>
                    <li class="mui-table-view-cell "><a href="{{ url_for('admin.info') }}">管理员信息</a></li>
                    {% for k,v in nav_dict.items() %}
                        <li class='mui-table-view-cell mui-collapse {% if nav_on==k %}mui-active{% endif %}'>
                        <a href="#" class="mui-navigate-right">{{ k }}</a>
                        <ul class="mui-table-view mui-table-view-chevron">
                            {% for k1,v1 in v.items() %}
                                <li class="mui-table-view-cell menu_li "><a href="{{ url_for(k1,nav_on=k) }}">{{ v1 }}</a></li>

                            {% endfor %}
                        </ul>
                    {% endfor %}
                    <li class="mui-table-view-cell menu_li "><a href="{{ url_for('admin.logout') }}">退出登录</a></li>
                </ul>
            </div>
        </div>
    </aside>
</div>

<script src="/static/Mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/Mobile/js/my_food_plan_pick_foods.js"></script>
<script src="/static/Mobile/js/jquery.uitablefilter.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/Mobile/js/tablesort.min.js"></script>
<script src="/static/Mobile/js/tablesort.number.js"></script>
<script src="/static/Mobile/js/tablesort.date.js"></script>
<script src="/static/Mobile/js/moment.js"></script>
<script src="/static/Mobile/js/daterangepicker.js"></script>
<script>
    mui.init({
        gestureConfig: {
            drag: true//默认为true
        }
    });
    $(function () {
        var els = $("[href$='.html']");
        var bls = $("[href$='.php']");
        var als = $("[href$='.apk']");
        var pls = $("[href$='.plist']");
        for (var i = 0; i < els.length; i++) {
            els[i].addEventListener('tap', function () {
                openCustUR(this.getAttribute('href'));
            });
        }
        for (var i = 0; i < bls.length; i++) {
            bls[i].addEventListener('tap', function () {
                openCustUR(this.getAttribute('href'));
            });
        }
        for (var i = 0; i < als.length; i++) {
            als[i].addEventListener('tap', function () {
                openCustUR(this.getAttribute('href'));
            });
        }
        for (var i = 0; i < pls.length; i++) {
            pls[i].addEventListener('tap', function () {
                openCustUR(this.getAttribute('href'));
            });
        }
        mui.plusReady(function () {
            plus.nativeUI.closeWaiting();
            mui, currentWebview.show();
        });
    })


    function openCustUR(link) {
        mui.openWindow({
            url: link,
            show: {
                autoShow: true,
                aniShow: 'slide-in-right',
                duration: 400
            },
            waiting: {autoShow: false, title: '加载中。。。'}
        });

    }

    $('.icon_li').each(function () {
        var index = $(this).index();
        $(this).find('.span_icon').addClass('icon' + index);
    });
    //日期范围选择器
    $(function () {
        $('#date_picker').daterangepicker({startDate: "{$starttime}", endDate: "{$endtime}"});
    })
    //表格筛选
    $(function () {
        var theTable = $('#item1-table')

        $("#filter").keyup(function () {
            $.uiTableFilter(theTable, this.value);
        })

        $('#filter-form').submit(function () {
            theTable.find("tbody > tr:visible").mousedown();
            return false;
        }).focus(); //Give focus to input field


//当屏幕宽度大于765时，左边菜单栏固定
        if ($(window).width() > 765) {
            $('.mui-off-canvas-left').css({"width": "180px", "visibility": "visible"});
            $('.mui-off-canvas-right').remove();
            var rightW = $(window).width() - 180
            $('.mui-inner-wrap').css('width', rightW);
            $('.mui-inner-wrap').css({
                'transform': 'translate(180px)',
                "box-shadow": "-4px 0 4px rgba(0,0,0,.2), 4px 0 4px rgba(0,0,0,.5)"
            });
            $('.mui-off-canvas-backdrop').css({"display": "none"})
            //清除左右滑动事件
//	mui.init({
//		gestureConfig:{
//		   drag: false//默认为true
//		}
//	});
        }
$('.mui-pull-left').on('tap',function(){
	if($('.mui-off-canvas-left').has('mui-active')){
		alert('1')
	}
})

    });
</script>
