<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>角色权限管理</title>
		<script src="/static/Mobile/js/mui.min.js"></script>
		<link href="/static/Mobile/css/mui.min.css" rel="stylesheet" />
		<link href="/static/Mobile/css/public.css" rel="stylesheet" />
		<link href="/static/Mobile/css/iconfont.css" rel="stylesheet" />
		<style>
			.item1-table td {
				padding: 10px;
			}
			
			body {
				background: #eee;
			}
			
			
			.mui-search {
				background: #eee;
			}
			
			input[type=search] {
				background-color: #fff;
				margin-top: 10px;
				border: 1px solid #ccc;
			}
			
			.mui-search .mui-placeholder {
				line-height: 50px;
			}
			
			.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
				height: auto;
				z-index: 1000;
			}
			.item1-table tr{border-bottom: 1px solid #ccc;}
			.item1-table tr{border: 1px solid #ccc;}
			.item1-table th,.item1-table td{border-right: 1px solid #ccc;}
			
			.mui-popover-arrow {
				display: none;
			}
			
			.mui-popover {
				height: 150px;
				top: 40%!important;
				left: 15%!important
			}
	
	.mui-popover {
		height: 160px;
		top: 40%!important;
		left: 50%!important;
		margin-left: -140px;
	}
	
	.Popover-li {
		line-height: 45px;
		list-style: none;
		border-bottom: 1px solid #ddd;
		margin: 0 10px;
	}
	
	.Popover-li a {
		width: 100%;
		height: 100%;
		display: inline-block;
	}
	/*弹出框样式*/
	.mui-off-canvas-wrap .mui-inner-wrap{height: 100%!important;}
		</style>
	</head>

	<body>

		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			{% include 'Public_nav.html' %}
			<!--主界面部分-->
			<div class="mui-inner-wrap">

				<header class="mui-bar mui-bar-nav">
					<a href="#offCanvasSide-left" class="mui-icon mui-icon-bars mui-pull-left"></a>
					<h1 class="mui-title">角色权限管理</h1>
					<a href="#offCanvasSide-right" class="mui-icon iconfont icon-zhilupai mui-pull-right"></a>
				</header>
				<!--搜索框-->
				   <form action="__URL__" method="post" class="mui-input-row mui-search" style="z-index: 91;top:44px;position: fixed;left:0;width: 100%;">
					<input type="search" class="mui-input-clear" name="keyword" id="keyword" value="{{ keyword }}" placeholder="搜索角色ID">
				   </form>
				   <!--表格筛选-->
				<!--<form id="filter-form" class="mui-input-row mui-search"  style="z-index: 91;top:44px;position: fixed;left:0;width: 100%;">
					<input name="filter" style="margin-bottom: 10px" class="mui-input-clear" id="filter" value="" maxlength="30" size="30" type="search" placeholder="搜索"/>
				</form>-->

				<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
					<div class="mui-scroll" style="margin-top: 59px;">
					

					<div class="mui-slider " style='z-index: 90;'>
						<div id="sliderSegmentedControl" style='overflow-y:scroll;' class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						

								<table class='item1-table' id="item1-table" style='width: 100%;white-space: nowrap;'>
									<thead>
									<tr style='background: #eee;height: 40px;border:1px solid #ccc;z-index: 99;' class='mui-slider-handle'>
										<th>角色ID</th>
										<th>角色名</th>
										<th>权限描述</th>
										<th>状态</th>
									</tr>
									</thead>
									<tbody></tbody>
								</table>

						</div>

					</div>
				</div>

				
				<div style='height: 50px;text-align: center;border:1px solid #eee;padding: 5px;position:fixed;bottom:0;left:0;width: 100%;background: #fff;z-index: 99;'>
					<button type="button" class="mui-btn mui-btn-blue" style='font-size: 16px;' id="add_but" href="{{ url_for('role.info') }}">添加角色权限</button>
				</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>

		<!--页面主体-----end-->

		<!--弹出框-->
		<div id="middlePopover" class="mui-popover" style="height: 200px;">
			<div class="mui-popover-arrow" style='width:0!important;height: 0!important;display:none;'></div>
			<div class="mui-scroll-wrapper" style="margin:0;" id="Popover-ul">
				<div class="mui-scroll">
					<ul class="Popover-ul"  style='text-align: center;padding: 0;margin:12px 0'>
						<li class="Popover-li name_li"><a href="#" style="font-weight:bold;"></a></li>
						<li class="Popover-li delete_li">
							<a href="#" style='color:red'>删除</a>
						</li>
						<li class="Popover-li edit_li">
							<a href="#" style=''>编辑</a>
						</li>
						<li class="Popover-li power_li" style="border: none;">
							<a href="#" style=''>权限</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>

<script>
	mui.init();
	//主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasSideScroll-left').scroll();
		mui('#offCanvasSideScroll-right').scroll();
//		mui('#offCanvasContentScroll').scroll();
		mui('#pullrefresh').scroll();
				//表格排序
//		new Tablesort(document.getElementById('item1-table'));
		
		mui.init({
			pullRefresh: {
				container: '#pullrefresh',
				up: {
					contentrefresh: '正在加载...',
					contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
					callback: pullupRefresh
				},
				down:{
					callback:function(){
						window.location.reload();
					}
				}
			}
		});
		/**
		 * 上拉加载具体业务实现
		 */
			var count = 0;
			var page=1;
			function pullupRefresh() {
				var pages=page-1;
				var size=15;
				var next=page+1;
				var keyword=$('#keyword').val();
				$.get("{{ url_for('role.ajax_role') }}", { p:page,keyword:keyword },function(data){
					for (var i = 0; i<data.length; i++) {
							var top=42*i+42+pages*size*42;
						if(data[i]['IsEnable']==1){src='<img src="/static/Mobile/images/article_reicon1.png"/>'}else{src='<img src="/static/Mobile/images/article_reicon2.png"/>'}
						var str='<tr style="height: auto;border:1px solid #ccc" class="tr'+data[i]['RoleID']+'" name="'+data[i]['RoleID']+'" data-name="'+data[i]['RoleName']+'"><td>' + data[i]['RoleID'] + '</td>' +
							'<td>' + data[i]['RoleName'] + '</td>' +
							'<td>' + data[i]['RoleDesc'] + '</td>' +
							'<td>' +  src  +
							'<a href="#middlePopover" style="position:absolute;top:'+top+'px;left:0;width:100%;height: 42px;" id="tr-a('+i+')"></a></td></tr>'
						//下拉刷新，新纪录插到最后面；
						//table.appendChild(s)
						$('.item1-table').append(str);
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
				}, "json");
				page++;
			}
		 
		//预加载
		if (mui.os.plus) {
			mui.plusReady(function() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				}, 1000);
			});
		} else {
			mui.ready(function() {
				mui('#pullrefresh').pullRefresh().pullupLoading();
			});
		}
		
		//
		var tra = document.getElementsByTagName('a')
		for(var i=0;i<tra.length;i++){
			tra.onclick
		}
		//
	mui('.item1-table').on('tap','tr',sethref);
 	function sethref(){
 	 	var aa=this.getAttribute('name');
 	 	var name=this.getAttribute('data-name');
 	 	$('.name_li').find('a').text('角色：'+name+'('+aa+')')
 		$('.delete_li').find('a').attr('href',"__URL__/delete/id/"+aa);
 		$('.edit_li').find('a').attr('href',"{{ url_for('role.info') }}"+aa);
 		$('.power_li').find('a').attr('href',"__URL__/power/id/"+aa);
		console.log(aa);
 	 }
 	document.getElementById('add_but').addEventListener('tap',function(){
		openCustUR(this.getAttribute('href'));
	});
   
</script>
</html>